{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="position-relative">
                    <h1 class="home-title uppercase text-center">Earrings</h1>
                    <img src="{% static 'images/camil-18k-flora-home.png' %}" alt="Woman wearing gold earrings" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="position-relative">
                    <h1 class="home-title uppercase text-center">Necklaces</h1>
                    <img src="{% static 'images/pearl-14k-pearl-home.png' %}" alt="Woman's neck wearing gold necklace" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="position-relative">
                    <h1 class="home-title uppercase text-center">Bracelets</h1>
                    <img src="{% static 'images/poppy-18k-set-home.png' %}" alt="Woman's arm wearing gold bracelet" class="img-fluid">
                </div>
            </div>
        </div>
    </main>
{% endblock %}