{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-margin2"></div>
{% endblock %}

{% block content %}
    <main class="container mr-sm-0 mb-5 pl-5">
        <div class="container bg-color ml-3 ml-lg-4 pl-3">
            <div class="hero-image"></div>
            <div class="hero-content">
                <h1 class="text-uppercase">Jewelry For Every Occasion</h1>
                <a href="{% url 'products' %}" class="btn shop-btn text-uppercase">Discover our collections</a>
            </div>
        </div>
    </main>
{% endblock %}