{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-margin"></div>
{% endblock %}

{% block content %}
    <main class="container mr-sm-0 main-content">
        <div class="container-fluid">
            <div class="hero-image"></div>
            <div class="hero-content">
                <h1 class="text-uppercase">Jewelry For Every Occasion</h1>
                <a href="{% url 'products' %}" class="btn btn-lg border border-secondary text-uppercase">Discover our collections</a>
            </div>
        </div>
    </main>
{% endblock %}