<script type="text/javascript">
    $(document).ready(function() {
        // Event handler for decrement button
        $('.decrement-qty').click(function(e) {
            e.preventDefault();
            const productId = $(this).data('item_id');
            const quantityInput = $('input[data-item_id="' + productId + '"]');
            let quantity = parseInt(quantityInput.val());
            quantity = Math.max(1, quantity - 1); // Ensure quantity is never less than 1
            quantityInput.val(quantity);
        });

        // Event handler for increment button
        $('.increment-qty').click(function(e) {
            e.preventDefault();
            const productId = $(this).data('item_id');
            const quantityInput = $('input[data-item_id="' + productId + '"]');
            let quantity = parseInt(quantityInput.val());
            quantity = Math.min(99, quantity + 1); // Ensure quantity is never more than 99
            quantityInput.val(quantity);
        });
    });
</script>