{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="shop-title">My Profile</h1>
            <hr>
        </div>
    </div>
    {% if request.user.is_authenticated %}
        <!-- Admin profile -->
        {% if request.user.is_superuser %}
            <div class="row">

            </div>
        {% endif %}
        <!-- User profile (Tabs from W3Schools https://getbootstrap.com/docs/4.6/components/navs/#tabs) -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link border-right active" id="delivery-details-tab" data-toggle="tab" data-target="#delivery-details" type="button" role="tab" aria-controls="delivery-details" aria-selected="true">Delivery Details</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link border-right" id="order-history-tab" data-toggle="tab" data-target="#order-history" type="button" role="tab" aria-controls="order-history" aria-selected="false">Order history</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link border-right" id="wishlist-tab" data-toggle="tab" data-target="#wishlist" type="button" role="tab" aria-controls="wishlist" aria-selected="false">Wishlist</button>
            </li>
        </ul>
          <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <!-- Delivery details -->
            <div class="tab-pane fade row d-flex active show" id="delivery-details" role="tabpanel" aria-labelledby="delivery-details-tab">
                <div class="col-md-6 mt-4">
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">Phone</p>
                        </div>
                        <p>{{ profile.user_phone_number }}</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">Address</p>
                        </div>
                        <p>{{ profile.user_street_address1 }}{% if profile.user_street_address2 %}, {{ profile.user_street_address2 }}{% endif %}</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">City</p>
                        </div>
                        <p>{{ profile.user_town_or_city }}</p>
                    </div>
                    {% if profile.user_county %}
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">County</p>
                        </div>
                        <p>{{ profile.user_county }}</p>
                    </div>
                    {% endif %}
                    {% if profile.user_postcode %}
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">Postcode</p>
                        </div>
                        <p>{{ profile.user_postcode }}</p>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">Country</p>
                        </div>
                        <p>{{ profile.user_country }}</spa>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <a href="{% url 'products' %}" class="btn btn-lg bg-btn border px-3 py-2">
                                <span>Continue Shopping</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <p class="font-weight-bold">Update your delivery details below</p>
                    <form class="" action="{% url 'profile' %}" method="POST" id="update-details">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn">Update Details</button>
                    </form>
                </div>
            </div>
            <!-- Order history -->
            <div class="tab-pane fade" id="order-history" role="tabpanel" aria-labelledby="order-history-tab">
                {% if orders %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Order Number</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number }}
                                        </a>
                                    </td>
                                    <td>
                                        <ul>
                                            {% for item in order.lineitems.all %}
                                            <li>
                                                {{ item.product.name }} x {{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="mt-4 ml-4">You have no orders.</p>
                {% endif %}
            </div>
            <!-- Wishlist -->
            <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">

            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block postloadjs %}
    <script>
        $('#myTab button').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
            $('#delivery-details').removeClass('d-flex');

            if ($(this).attr('aria-controls') === 'delivery-details') {
                $('#delivery-details').addClass('d-flex');
            }
        });
    </script>
{% endblock %}