/* General styles */
html, body {
    max-width: 1200px;
    font-family: 'Playfair Display', sans-serif;
    margin: auto;
}

.bg-color {
    background-color: #F1EEE9 !important;
}

h1 {
    font-weight: 400;
}

note-editor {
    width: auto;
}

/* Header */
header {
    background-color: #F1EEE9;
}

.box-shadow {
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.5);
}

#logo {
    height: 75px;
    position: relative;
    right: 1rem;
}

.navbar {
    flex-wrap: nowrap;
}

.navbar-collapse {
    flex-basis: 0%;
}

navbar-nav, .dropdown-menu {
    position: absolute !important;
}

.navbar-nav, .nav-link {
    padding-right: 0.5rem;
}

.dropdown-toggle::after {
    content: none !important;
}

ul {
    margin-bottom: 0;
}

.font-size {
    font-size: 12px;
}

.top {
    position: relative;
    top: 8px;
}

.header-margin2 {
    margin-top: 9rem;
}

.collapse:not(.show) {
    display: flex !important;
}

.form-control {
    width: auto;
}

#delivery {
    background-color: #b697879c;
    height: 38px;
}

/* Hero image */
.main-content {
    margin-bottom: 9rem;
}

.hero-image {
    background: url('../images/hero-mobile.jpg') no-repeat center center/cover;
    height: 600px;
    margin-left: 10rem;
}

.hero-content {
    position: relative;
    bottom: 12rem;
    left: 25%;
    transform: translate(-40%, -50%);
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
}

.hero-content a {
    font-size: 1.3rem;
    background-color: white;
    padding: 10px 2rem;
    border-radius: 40px;
}

/* Products page */
.card {
    border: none;
}

.card-footer {
    background-color: white;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.c-name {
    font-size: 13px;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,0.5);
    text-decoration: none;
}

.c-name:hover,
.bg-btn:hover,
.shop-btn:hover {
    background: rgba(0, 0, 0, 0.557);
    color: white;
    text-decoration: none;
}

.shop-btn {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.top-btn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
    background: white;
}

.wishlist-button {
    font-size: 14px;
    padding: 8px 20px;
    background-color: white;
    border-radius: 10px;
}

.heart-red {
    color: #6f1200;
    font-size: 1.2rem;
    padding-left: 0.3rem;
}

.margin-top {
    margin-top: 2rem !important;
}

/* Product details page */
.detail-title {
    font-size: 2rem;
}

.details {
    font-size: 1.4rem;
    font-weight: 600;
}

.add-btn {
    background: rgba(0, 0, 0, 0.557);
    color: white;
}

.add-btn:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.review-container {
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    max-height: 500px;
}

.max-w {
    max-width: 400px;
}

.b-shadow {
    box-shadow: 0px 1px 3px -1px #676767e1;
}

/* Shopping bag */
.update-link,
.remove-item {
    cursor: pointer;
}

.bg-btn {
    font-size: 17px;
    font-weight: 600;
}

.bag-name {
    font-size: 1.2rem;
}

/* Checkout success */
.p-left {
    padding-left: 3rem;
}

.summary-color {
    background-color: #e1e1e1e1;
}

/* Toasts */
.custom-toast {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 999999999;
    overflow: visible;
}

.message-title {
    color: #000000;
    font-size: 1rem;
}

.message-line {
    height: 2px;
}

.wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Checkout / From Stripe  */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

/* Checkout - Loading overlay (From Boutique Ado walkthrough) */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(182, 151, 135, 0.851);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Contact form */
.form-control {
    width: 100%;
}

.contact-btn {
    font-size: 1.3rem;
}

/* Signup/Login */
p #id_email, 
#id_email2,
#id_username,
#id_password1,
#id_password2 {
    width: 50%;
}

form li {
    list-style-type: none;
}

/* Footer / Mailchimp */
footer {
    background-color: white;
    padding-top: 4rem;
}

#mc_embed_signup .button {
    background: rgba(0, 0, 0, 0.557) !important;
    color: white !important;
    padding: 1rem 1.4rem;
    line-height: 1px;
}

#mc_embed_signup .button:hover {
    background: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
}

#mc_embed_signup div.response {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
}

#mc_embed_signup .helper_text {
    background-color: #F1EEE9 !important;
}

.margin-b {
    margin-bottom: 5rem;
}

.contact-home {
    font-size: 1.3rem;
}

#privacy {
    margin-top: 3rem;
    padding-left: 0.5rem;
}

/* Media queries */
@media (min-width: 576px) {
    .header-margin2 {
        margin-top: 10rem;
    }

    .top {
        top: 11px;
    }

    .hero-image {
        height: 650px;
        margin-left: 3rem;
    }

    .hero-content {
        bottom: 15rem;
        left: 14%;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content a {
        font-size: 1.3rem;
    }

    #logo {
        height: 90px;
        width: 260px;
    }

    .font-size {
        font-size: 1rem;
    }

    .home-title {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    .hero-image {
        background: url('../images/hero-desktop.jpg') no-repeat center center/cover;
        height: 680px;
        margin-left: 10rem;
    }

    .hero-content {
        left: 20%;
    }

    .hero-content h1 {
        font-size: 2.3rem;
    }

    .hero-content a {
        font-size: 1.5rem;
    }

    .margin-b {
        margin-bottom: 0rem;
    }

    .delivery-details-container {
        bottom: 5rem;
    }

    .p-left {
        padding-left: 3.8rem;
    }
}

@media (min-width: 992px) {
    main {
        margin-top: 5.4rem;
    }

    #logo {
        height: 100px;
    }

    .font-size {
        font-size: 1.1rem;
    }

    .top {
        top: 13px;
    }

    .header-margin2 {
        margin-top: 11rem;
    }

    .container {
        max-width: 1200px;
    }

    .hero-image {
        height: 700px;
        margin-left: 19rem;
    }

    .hero-content {
        left: 34%;
        bottom: 16rem;
    }

    .hero-content h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        font-weight: 300;
    }

    .hero-content a {
        font-size: 1.6rem;
    }

    .margin-top {
        margin-top: 20px;
    }

    .delivery-details-container {
        bottom: 15rem;
    }

    .contact-home {
        font-size: 1.5rem;
        left: 6rem;
    }

    .fb-btn {
        top: 5rem;
        right: 5.1rem;
    }

    .p-left {
        padding-left: 5.5rem;
    }

    .fb-btn {
        right: 5.7rem;
    }
}

@media (min-width: 1200px) {
    .hero-content {
        bottom: 17rem;
        left: 33%;
        
    }
    .hero-content h1 {
        font-size: 3.2rem;
        margin-bottom: 1.5rem;
    }

    .hero-content a {
        font-size: 1.8rem;
    }
}