{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container text-center w-75 main-content">
    <h1>{% trans "Change Password" %}</h1>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-left">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button class="btn btn-lg add-btn mt-3 px-5 py-2" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}
