{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container main-content text-center w-75">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>
    <hr>
    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <a href="{% url 'contact' %}" class="btn add-btn contact-home position-static">Contact</a>
</div>
{% endblock %}
