{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row mb-4">
        <div class="col">
            <h1>Thank you for contacting us!</h1>
            <hr>
        </div>
    </div>
    <div class="col mb-5">
        <p>We have received your inquiry and we aim to get back to you within 2 business days.</p>
        <p class="mt-4 mb-3">Why don't you check out our products while you wait?</p>
        <a href="{% url 'products' %}" class="btn btn-lg px-3 mr-2 mb-5 shop-btn">
            <span class="text-uppercase">Continue Shopping</span>
        </a>
    </div>
</div>
{% endblock %}