{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Contact{% endblock %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column mb-5">
    <div class="row">
        <div class="col text-center">
            <h1>Contact Us</h1>
            <p class="mt-4">Have a question? Please feel free to contact our team below.</p>
            <p>We are available Monday-Friday 8am-5pm EDT.</p>
            <hr>
        </div>
    </div>
    <div class="row px-5">
        <div class="col text-left">
            <form method="POST" action="{% url 'contact' %}" class="rounded form p-4">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button class="btn btn-lg mb-3 px-5 add-btn mt-3 contact-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}