{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Product{% endblock %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column mb-5">
    <div class="row">
        <div class="col text-center">
            <h1>Edit Product</h1>
            <p class="mt-4">Edit existing products here with new details.</p>
            <p>The new details will be changed immediately after update.</p>
            <hr>
        </div>
    </div>
    <div class="row px-5">
        <div class="col text-left px-5">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-center">
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-lg py-2 mr-2 px-4 shop-btn">
                        <span class="text-uppercase">Go Back</span>
                    </a>
                    <button class="btn btn-lg mb-3 px-5 py2 add-btn mt-3 contact-btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ form.media }}
{% endblock %}
