{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Edit Product</h1>
            <hr>
        </div>
    </div>
    <div>
        <form method="POST" action="{% url 'edit_product' product.id %}" class="form w-50 ml-4" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <button class="btn btn-lg add-btn border mb-5 mt-3" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ form.media }}
{% endblock %}
