{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-margin"></div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-2 text-center">
                <h1 class="mt-2 mb-4">{{ title }}</h1>
                {% if title == 'Products' %}
                    {% for c in current_categories %}
                        <a class="c-name p-2 border mr-2" href="{% url 'products' %}?category={{ c.name }}">
                            <span>{{ c.name|title }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
                <hr>
            </div>
        </div>
        <!-- Sorting box -->
        <div class="row justify-content-center justify-content-md-end">
            <div class="col-12 col-md-6 my-auto d-flex justify-content-center justify-content-md-end">
                <div class="w-50">
                    <select id="sort-selector"
                        class="custom-select custom-select-sm rounded-0 border border-{% if sort_by %}info{% else %}black{% endif %}">
                        <option value="reset">Sort by...</option>
                        <option value="name_asc">Name (A-Z)</option>
                        <option value="name_desc">Name (Z-A)</option>
                        <option value="price_asc">Price (low to high)</option>
                        <option value="price_desc">Price (high to low)</option>
                        <option value="rating_asc">Rating (low to high)</option>
                        <option value="rating_desc">Rating (high to low)</option>
                        <option value="category_asc">Category (A-Z)</option>
                        <option value="category_desc">Category (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-2 text-center text-md-left">
                    <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <!-- Products -->
        <div class="row mt-4">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card mb-5">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="product-name">{{ product.name }}</p>
                            <p>{{ product.introduction }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p class="lead text-left font-weight-bold mb-1">${{ product.price }}</p>
                                    {% if product.category %}
                                        <p class="small">
                                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ product.category.name|title }}
                                            </a>
                                        </p>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        {% if not request.user.is_superuser %}
                                            <div class="d-flex flex-row-reverse">
                                                <a class="wishlist-button" data-product-id="{{ product.id }}">
                                                    {% if product.id in wishlist_product_ids %}
                                                    <i class="fa-solid fa-heart heart-red"></i>
                                                    {% else %}
                                                    <i class="fa-regular fa-heart"></i>
                                                    {% endif %}
                                                </a>
                                                <p class="text-muted small mr-2">Add to wishlist</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small class="text-muted">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                        </small>
                                        <small class="text-muted text-danger">
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Back to top button -->
    <div class="top-btn shadow-sm border">
        <a class="">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Scroll to top button -->
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 20) {
            $('.top-btn').css('display', 'block');
        } else {
            $('.top-btn').css('display', 'none');
        }
    });
    $('.top-btn').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<!-- Sorting products -->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort_by", sort + "_" + direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort_by");

            window.location.replace(currentUrl);
        }
    })
</script>
<!-- Wishlist button -->
<script type="text/javascript">
        $('.wishlist-button').on('click', function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            var csrfToken = '{{ csrf_token }}';
            var isAdded = $(this).find('.fa-solid').length > 0;

            $.ajax({
                type: 'POST',
                url: 'add_to_wishlist/',
                data: {
                    'product_id': productId,
                    'csrfmiddlewaretoken': csrfToken,
                    'remove': isAdded ? 'true' : 'false'
                },
                success: function (response) {
                    if ($(event.target).hasClass('add-to-wishlist')) {
                        $(event.target).removeClass('add-to-wishlist');
                        $(event.target).find('.fa-regular').show();
                        $(event.target).find('.fa-solid').hide();
                    } else {
                        $(event.target).addClass('add-to-wishlist');
                        $(event.target).find('.fa-regular').hide();
                        $(event.target).find('.fa-solid').show();
                    };
                }
            });
        });
</script>
{% endblock %}
</body>