{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Product Details{% endblock %}

{% block page_header %}
<div class="header-margin2"></div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
        <div class="col">
            <p class="detail-title mb-2">{{ product.name }}</p>
            <hr>
            <p class="lead font-weight-bold mb-1">${{ product.price }}</p>
            {% if product.category %}
                <p class="small mt-2">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.name|title }}
                    </a>
                </p>
            {% endif %}
            {% if request.user.is_superuser %}
            <div class="mb-3">
                <small class="text-muted">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                </small>
                <small class="text-muted text-danger">
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
            </div>
            {% endif %}
            {% if product.introduction %}
            <p class="mb-5">{{ product.introduction }}</p>
            {% endif %}
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-1 mb-1"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn border add-btn" 
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span>
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn border add-btn"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span>
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3 d-flex flex-column max-w">
                        <input type="submit" class="btn border text-uppercase py-2 px-4 mb-3 add-btn" value="Add to Bag">
                        <a href="{% url 'products' %}" class="btn py-2 px-4 mb-3 shop-btn">
                            <span class="text-uppercase">Continue Shopping</span>
                        </a>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <p class="details mb-2 mt-5">Details</p>
            <p>{{ product.description|safe }}</p>
        </div>
    </div>
    <!-- Reviews -->
    <div class="row mb-5">
        <div class="col mt-4 mb-5">
            <p class="mb-2 ml-1 detail-title">Reviews</p>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 review-container mt-2">
                {% if reviews %}
                    <p class="small mb-4">{{ reviews|length }} Reviews</p>
                {% else %}
                    <p class="ml-3 mt-3">No reviews yet.</p>
                {% endif %}
                {% for review in reviews %}
                    <div class="border-bottom p-4 mb-2 bg-color b-shadow rounded">
                        <p><strong>{{ review.review_name }}</strong> - {{ review.created_on }}</p>
                        <p class="mt-3">{{ review.review_text }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col-12 col-md-6">
                    <p class="mt-md-2 mt-5 text-center product-name">Leave a review here!</p>
                    <form method="post" class="form mt-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                            <button type="submit" class="btn px-4 py-2 shop-btn">Add Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}